<p>Hos Geldin Bes Gittin Admin</p>

<a class="btn btn-primary mt-3" asp-controller="Urun" asp-action="Index">Ürün İşlemleri</a>

<a class="btn btn-danger mt-3" asp-area="" asp-controller="Account" asp-action="LogOut">Çıkış</a> @* area controller ve action farkli oldugu icin belirtmemiz gerekir *@