@model UrunInsertVM

<div class="container">

    <div class="row">

        <form asp-action="Create" method="post">

            <div class="col-4">

                <div class="form-group">
                    <label asp-for="UrunAdi" class="form-label">Urun Adi</label>
                    <input asp-for="UrunAdi" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UrunFiyati" class="form-label">Ürün Fiyatı</label>
                    <input asp-for="UrunFiyati" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="KategoriAdi" class="form-label">Kategori</label>
                    <input asp-for="KategoriAdi" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="StokAdet" class="form-label">Stok Adet</label>
                    <input asp-for="StokAdet" value="" class="form-control" />
                </div>
                <div class="form-group row">
                    <div class="col-2 mt-2 me-1">
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </div>
                    <div class="col-4 mt-2">
                        <a class="btn btn-danger" asp-action="Index">Back</a>
                    </div>
                </div>

                <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"> </div>
                </div>
            </div>

        </form>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); //Validationun localde jquery linklerinin render edilmesi
    }
    @await Component.InvokeAsync("Notyf") @*Notyf icin js eklentisi*@
}