
<p>Merhaba üye, iyi alışverişler.</p>
<a class="btn btn-danger mt-3" asp-controller="Account" asp-action="Logout">Çıkış</a>


<a class="btn btn-primary" asp-controller="Shopping" asp-action="Message"> Bize Yazın </a>